[Unit]
Description=Star Wars Galaxies server emulator

[Service]
User=swgemu
WorkingDirectory=/opt/swgemu-server/MMOCoreORB/bin/
ExecStart=/opt/swgemu-server/MMOCoreORB/bin/core3
